* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Beausite Slick';
}

/* /// */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #8aa675;
}

.btn-more::before {
    content: '';
    width: 15%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.3s linear;
}

.btn-more:hover:before {
    width: 0%;
    transition: all 0.3s linear;
}

.btn-more::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 0px 0px 10px;
    transition: all 0.3s linear;
}

.btn-more:hover:after {
    width: 15%;
    transition: all 0.3s linear;
}

/* Styling navbar menu  */

.box-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 18px 0;
}

.box-menu.scrollMenu {
    background-color: rgba(78, 90, 87, 0.8);
}

.box-menu .wrap-menu {
    width: 1128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu .wrap-menu .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu .wrap-menu .nav-menu .menu {
    display: flex;
}

.box-menu .wrap-menu .nav-menu .menu li {
    list-style: none;
    color: #fff;
    margin: 0px 25px 0px 0px;
}

.box-menu .wrap-menu .nav-menu .menu li a {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 85px;
    text-decoration: none;
    text-transform: uppercase;
}

.box-menu .wrap-menu .nav-menu #box-search {
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-menu .wrap-menu .nav-menu #box-search i {
    cursor: pointer;
}

.box-menu .wrap-menu .nav-menu #search {
    background-color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-menu .wrap-menu .nav-menu #search input {
    padding: 0px 20px;
    border: none;
    line-height: 35px;
    border-width: 1px;
    border-color: #fff;
}

.box-menu .wrap-menu .nav-menu #btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8aa675;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 30px;
    margin-left: 7vw;
    padding: 12px 14px;
    height: 39px;
    text-transform: uppercase;
    cursor: pointer;
}



/* Styling menu-child */

#menu-child {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#menu-child .line {
    display: flex;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
    margin-block: 5px;
}

#menu-child:hover :is(.line) {
    background-color: #000000;
}

#menu-child,
#menu-child .line {
    transition: all 0.4s ease-in-out;
}

#menu-child.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

#menu-child.active .line:nth-child(2) {
    width: 0;
}

#menu-child.active .line:nth-child(1),
#menu-child.active .line:nth-child(3) {
    transition-delay: 0.4s;
}

#menu-child.active .line:nth-child(1) {
    transform: translateY(9px);
}

#menu-child.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}

/* Styling section home */

.home {
    width: 100%;
    height: 70vh;
    margin: auto;
}

.home .box-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home .box-home .filter-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(17, 17, 17, .4);
}

.home .box-home .home-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .box-home .home-img hr {
    border-color: #8aa675;
}

.home .box-home .home-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.home .box-home .home-img .home-wrap {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    max-width: 1128px;
}

.home .box-home .home-img .home-wrap .home-title {
    width: 40%;
}

.home .box-home .home-img .home-wrap .home-title h1 {
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    line-height: 60px;
    margin: 0px 0px 15px;
    padding: 0px 0px 15px;
    text-align: left;
}

.home .box-home .home-img .home-wrap .home-title p {
    font-size: 16px;
    font-family: 'Open Sans';
    color: #fff;
    line-height: 26px;
    margin: 15px 0px;
    text-align: left;
}

/* Styling section about */

.about {
    width: 100%;
    margin: 0 auto;
}

.about .box-about {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about .box-about .wrap-about {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.about .box-about .wrap-about .about-left {
    width: 50%;
}

.about .box-about .wrap-about .about-left .wrap-img {
    display: flex;
    align-items: center;
    justify-content: right;
}

.about .box-about .wrap-about .about-left .wrap-img img {
    width: 85%;
    max-height: 800px;
    object-fit: cover;
    background-size: cover;
}

.about .box-about .wrap-about .about-right {
    width: 50%;
    margin: 0 auto;
}

.about .box-about .wrap-about .about-right .wrap-info {
    width: 90%;
    padding: 0px 50px 0px 6vw;
}

.about .box-about .wrap-about .about-right .wrap-info .about-title {
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
}

.about .box-about .wrap-about .about-right .wrap-info .about-title h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0px 15px;
    padding: 0px 0px 15px;
    color: #414141;
}

.about .box-about .wrap-about .about-right .wrap-info .about-title p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #414141;
    margin: 16px 0px;
}

.about .box-about .wrap-about .about-right .wrap-info .about-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about .box-about .wrap-about .about-right .wrap-info .about-card .card1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.about .box-about .wrap-about .about-right .wrap-info .about-card .card2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about .box-about .wrap-about .about-right .wrap-info .about-card a {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    color: #444444;
    text-decoration: none;
    margin: 0px 100px 0px 0px;
}

.about .box-about .hr {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 65%;
    height: 1px;
    background-color: #8aa675;
}

/* Styling section move */

.move {
    width: 100%;
    margin: 0 auto;
    padding: 80px 0px;
}

.move .box-move {
    width: 65%;
    margin: 0 auto;
}

.move .box-move .wrap-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.move .box-move .wrap-text h1 {
    color: #414141;
    line-height: 50px;
    font-size: 40px;
    font-weight: 300;
    margin: 0px 0px 40px;
}

.move .box-move .wrap-text p {
    font-family: 'Open Sans';
    color: #414141;
    line-height: 25px;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0px;
}

.move .box-move .wrap-img {
    position: relative;
    width: 100%;
}

.move .box-move .wrap-img img {
    width: 100%;
    max-height: 585px;
    background-size: cover;
    object-fit: cover;
}

.move .box-move .wrap-img .text-img {
    position: absolute;
    bottom: 0;
    width: 40%;
    height: auto;
    background-size: cover;
    object-fit: cover;
    color: #000000;
    background-color: #fff;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-size: 1.5vw;
    margin: 30px;
    padding: 20px 20px 8vh 20px;
}

/* Styling section tour */

.tour {
    width: 100%;
    margin: 0 auto;
}

.tour .box-tour {
    width: 100%;
    margin: 0 auto;
    background-color: #EEEEEE;
    position: relative;
}

.tour .box-tour .wrap-tour-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour .box-tour .wrap-tour-top .tour-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour .box-tour .wrap-tour-top .tour-text .size-text {
    width: 80%;
}

.tour .box-tour .wrap-tour-top .tour-text h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0px 15px;
    padding: 0px 0px 15px;
    color: #414141;
}

.tour .box-tour .wrap-tour-top .tour-text p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #414141;
    margin: 16px 0px;
}

.tour .box-tour .wrap-tour-top .tour-img {
    width: 50%;
}

.tour .box-tour .wrap-tour-top .tour-img img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

/* jjjjjjjjj */

.tour .box-tour .wrap-tour-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tour .box-tour .wrap-tour-bottom .tour-text {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tour .box-tour .wrap-tour-bottom .tour-text .size-text {
    position: relative;
}

.tour .box-tour .wrap-tour-bottom .tour-text .tour-add {
    position: absolute;
    width: 60%;
    top: 100%;
    max-height: 200px;
    left: 5vw;
    column-count: 2;
    justify-content: left;
    text-align: left;
}

.tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
    font-family: 'Open Sans';
    display: inline-block;
    margin: 20px 50px 20px 0px;
    font-size: 14px;
    font-weight: 700;
    color: #414141;
    text-decoration: none;
}

.tour .box-tour .wrap-tour-bottom .tour-text .size-text {
    width: 80%;
}

.tour .box-tour .wrap-tour-bottom .tour-text h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0px 15px;
    padding: 0px 0px 15px;
    color: #414141;
}

.tour .box-tour .wrap-tour-bottom .tour-text p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #414141;
    margin: 16px 0px;
}

.tour .box-tour .wrap-tour-bottom .tour-img {
    width: 50%;
}

.tour .box-tour .wrap-tour-bottom .tour-img img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

/* Styling section garden */

.box-garden {
    width: 100%;
    margin: auto;
    padding: 80px 20px 80px 20px;
    background-color: #fff;
}

.box-garden .garden-title {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    color: #414141;
}

.box-garden .garden-title h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin: 0px 0px 40px;
    color: #414141;
}

.box-garden .garden-title p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    color: #414141;
}

.box-garden .wrap-garden {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.box-garden .wrap-garden .card-garden {
    position: relative;
    display: block;
    width: 32%;
    height: 100%;
    margin: 30px 50px;
}

.box-garden .wrap-garden .card-garden .filter-gd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(-183deg, rgba(105, 118, 121, .45) 81%, #384144 100%);
    transition: all 0.5s ease-in-out
}

.box-garden .wrap-garden .card-garden img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-size: cover;
}

.box-garden .wrap-garden .card-garden .card-info {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-border {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border: 1px solid #fff;
    display: none;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info h2 {
    width: 80%;
    color: #ffffff;
    padding-top: 5vh;
    font-size: 2vw;
    line-height: 3vw;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info .text-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info .line-card {
    display: block;
    background: #fff;
    margin: 20px auto;
    width: 1px;
    content: "";
    height: 0;
    transform: scaleY(0);
    transition: all 0.5s linear;
}

.box-garden .wrap-garden .card-garden .card-info:hover .line-card {
    height: 100%;
    transform: scaleY(1);
}


.box-garden .wrap-garden .card-garden:hover .card-border {
    display: block;
}

.box-garden .wrap-garden .card-garden:hover::after {
    display: block;
    height: 40%;
    top: 25%;
}

.box-garden .wrap-garden .card-garden:hover .filter-gd {
    background: linear-gradient(-183deg, rgba(105, 118, 121, .45) 31%, #384144 100%);
}

.box-garden .wrap-garden .card-garden:hover .card-info .text-card {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.box-garden .wrap-garden .card-garden:hover .card-info h2 {
    top: 10%;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info .text-card p {
    font-family: 'Open Sans';
    font-size: 1.2vw;
    line-height: 2vw;
    font-weight: 300;
    width: 80%;
    color: #fff;
    margin: 0px 0px 2vh 0px;
}

/* Styling section sponsor */

.sponsor {
    width: 100%;
    margin: 0 auto;
}

.sponsor .img {
    width: 100%;
    max-height: 684px;
}

.sponsor .img img {
    width: 100%;
    max-height: 684px;
    background-size: cover;
    object-fit: cover;
}

.sponsor .link-sponsor {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sponsor .link-sponsor h2 {
    text-align: center;
    color: #414141;
    margin: 20px;
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 300;
}

.sponsor .link-sponsor a {
    text-align: center;
    color: #414141;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 600;
}

.sponsor .link-sponsor p {
    text-align: center;
    color: #000000;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
}

/* Styling footer */

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: #384144;
    padding: 60px 0px 20px 0px;
}

.footer .box-footer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .box-footer .wrap-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 25%;
}

.footer .box-footer .wrap-footer .size-logo {
    width: 40%;
    margin: 30px auto;
}

.footer .box-footer .wrap-footer p {
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    margin-bottom: 30px;
}

.footer .box-footer .wrap-footer input {
    margin: 0 auto;
    width: 100%;
    padding: 15px 10px;
    color: #d4d4d4;
    border: none;
    background: transparent;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}


.footer .box-footer .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8aa675;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 10px 0px 0px;
}

.footer .box-footer .btn-more::before {
    content: '';
    width: 5%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.3s linear;
}

.footer .box-footer .btn-more:hover:before {
    width: 0%;
    transition: all 0.3s linear;
}

.footer .box-footer .btn-more:hover:after {
    width: 5%;
    transition: all 0.3s linear;
}

.footer .box-footer .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
    border-top: 1px solid #eeeeee;
}

.footer .box-footer .contact .logo-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .box-footer .contact .logo-contact i {
    color: #fff;
    font-size: 25px;
    margin: 0px 15px;
}

.footer .box-footer .contact p {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
}

.footer .box-footer .contact a {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

/* ////////////////////////////////////////////// */

/* Reponsive */

@media (max-width: 1440px) {

    .move .box-move {
        width: 80%;
        margin: 0 auto;
    }

    .move .box-move .wrap-text {
        width: 80%;
    }

    .box-garden .wrap-garden .card-garden {
        width: 40%;
        height: 70vh;
        margin: 30px 20px;
    }

    .box-garden .wrap-garden .card-garden .card-info h2 {
        font-size: 3vw;
    }

    .box-garden .wrap-garden .card-garden .card-info p {
        font-size: 1.6vw;
    }

    .footer .box-footer .wrap-footer {
        width: 40%;
        padding: 15px 5px;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 15px 5px;
    }
}


@media (max-width: 1250px) {

    .box-menu {
        padding: 5px 30px;
    }

    .home .box-home .home-img .home-wrap {
        margin: 0px 50px;
    }

    .move .box-move .wrap-text {
        width: 80%;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
        margin: 15px 20px 0px 0px;
        font-size: 14px;
    }

    .btn {
        width: 80%;
        font-size: 12px;
    }

}

@media (max-width: 991px) {

    .box-menu {
        padding: 0;
    }

    .box-menu .wrap-menu>.size-logo {
        margin: 10px 50px;
    }

    .box-menu .wrap-menu>.size-logo {
        margin: 10px 50px;
    }

    .box-menu {
        padding: 0;
    }

    .box-menu .wrap-menu .nav-menu {
        display: none;
    }

    .box-menu .wrap-menu .nav-menu.active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background: #384144;
        transition: all 0.8s ease-in-out;
    }

    .box-menu .wrap-menu .nav-menu.active ul {
        display: block;
        margin: 120px 30px;
        background-color: transparent;
        background: transparent;
    }

    .box-menu .wrap-menu .nav-menu.active li {
        display: block;
        margin: 0 auto;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 0px 10px;
        cursor: pointer;
    }

    .box-menu .wrap-menu .nav-menu.active li a {
        text-transform: none;
        font-size: 14px;
        font-weight: 300;
        line-height: 50px;
    }

    .box-menu .wrap-menu .nav-menu.active #box-search {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 20px 40px;
        background-color: #727b77;
    }

    .box-menu .wrap-menu .nav-menu #btn-cta {
        display: none;

    }

    .box-menu .wrap-menu .nav-menu.active #btn-cta {
        display: block;
        position: absolute;
        left: -9%;
        bottom: 0;
        background-color: #8aa675;
        width: 84%;
        border-radius: 0;
        font-size: 10px;
        line-height: 35px;
        height: 55px;
    }

    #menu-child {
        display: block;
        z-index: 999;
        margin-right: 50px;
    }

    .home .box-home .home-img .home-wrap .home-title {
        width: 100%;
    }

    .move .box-move .wrap-img .text-img {
        font-size: 2.5vw;
    }

    .box-garden .wrap-garden .card-garden .card-info .text-card p {
        font-size: 1.6vw;
        line-height: 2vw;
    }

    .footer .box-footer .wrap-footer {
        width: 60%;
        padding: 15px 5px;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 15px 5px;
    }


}

@media (max-width: 800px) {

    .home .box-home .home-img .home-wrap {
        margin: 0px 0px;
        width: 90vw;
    }

    .home .box-home .home-img .home-wrap .home-title {
        width: 100%;
    }

    .home .box-home .home-img .home-wrap .home-title h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .home .box-home .home-img .home-wrap .home-title p {
        font-size: 14px;
        line-height: 26px;
    }

    .about .box-about .wrap-about {
        padding: 50px 0px;
    }

    .about .box-about .wrap-about {
        display: block;
    }

    .about .box-about .wrap-about .about-left {
        width: 100%;
        margin: 0 auto;
    }

    .about .box-about .wrap-about .about-left .wrap-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about .box-about .wrap-about .about-left .wrap-img img {
        width: 75%;
        max-height: 400px;
        object-fit: cover;
        background-size: cover;
    }

    .about .box-about .wrap-about .about-right {
        width: 100%;
        margin: 0 auto;
    }

    .about .box-about .wrap-about .about-right .wrap-info {
        width: 90%;
        margin: 0 auto;
    }

    .about .box-about .wrap-about .about-right .wrap-info .about-title {
        text-align: center;
    }

    .about .box-about .wrap-about .about-right .wrap-info .about-card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .about .box-about .wrap-about .about-right .wrap-info .about-card .card1 {
        width: 90%;
        display: flex;
    }

    .move {
        padding: 30px 0px;
    }

    .move .box-move {
        width: 95%;
    }


    .move .box-move .wrap-text {
        width: 90%;
    }

    .move .box-move .wrap-text h1 {
        line-height: 30px;
        font-size: 30px;
        margin: 0px 0px 20px;
    }

    .move .box-move .wrap-text p {
        line-height: 20px;
        font-size: 14px;
        margin: 20px 0px;
    }

    .footer .box-footer .contact {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .footer .box-footer .contact .logo-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .box-footer .contact p {
        margin: 20px 0px;
    }
}

@media (max-width: 768px) {

    .home .box-home .home-img .home-wrap .home-title {
        width: 100%;
    }

    .box-menu {
        padding: 0;
    }

    .box-menu .wrap-menu .size-logo img {
        width: 100%;
        height: 70px;
    }

    .about .box-about .wrap-about .about-left .wrap-img img {
        width: 95%;
    }

    .tour .box-tour {
        padding: 30px 0px 10px 0px;
    }

    .tour .box-tour .wrap-tour-bottom {
        display: block;
        margin: 50px 0px;
    }

    .tour .box-tour .wrap-tour-top {
        display: grid;
        margin: 50px 0px;
    }

    .tour .box-tour .wrap-tour-top .tour-text {
        grid-row: 2;
    }

    .tour .box-tour .wrap-tour-bottom {
        height: 100vh;
        width: 100%;
        position: relative;
    }


    .tour .box-tour .wrap-tour-top .tour-text,
    .tour .box-tour .wrap-tour-top .tour-img,
    .tour .box-tour .wrap-tour-bottom .tour-text,
    .tour .box-tour .wrap-tour-bottom .tour-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .tour .box-tour .wrap-tour-top .tour-img img,
    .tour .box-tour .wrap-tour-bottom .tour-img img {
        width: 95%;
        height: 50vh;
        object-fit: cover;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add {
        width: 90%;
        top: 100%;
        left: 10vw;
        column-count: 3;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
        margin: 20px 80px 20px 0px;
        font-size: 1.7vw;
    }

    .box-garden {
        padding: 30px 10px 30px 10px;
    }

    .box-garden .wrap-garden {
        display: block;
    }

    .box-garden .wrap-garden .card-garden {
        width: 95%;
        height: 70vh;
        margin: 30px auto;
    }

    .box-garden .wrap-garden .card-garden img {
        height: 100%;
        display: block;
    }

    .box-garden .wrap-garden .card-garden:hover .card-info::after {
        display: block;
        height: 5vh;
        top: 30%;
    }

    .box-garden .wrap-garden .card-garden:hover .card-info h2 {
        margin: 0px 0px 0vh 0px;
    }

    .box-garden .wrap-garden .card-garden .card-info h2 {
        font-size: 4vw;
        line-height: 3vw;
    }

    .box-garden .wrap-garden .card-garden .card-info .text-card p {
        font-size: 2.5vw;
        line-height: 3vw;
    }

    .box-garden .wrap-garden .card-garden:hover .card-info .text-card {
        opacity: 1;
    }

}

@media (max-width: 600px) {



    .about .box-about .wrap-about {
        padding: 30px 0px;
    }

    .about .box-about .wrap-about .about-right .wrap-info .about-card {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .about .box-about .wrap-about .about-right .wrap-info .about-card .card1 {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        margin: 0px 0px;
    }

    .about .box-about .wrap-about .about-right .wrap-info .about-card .card2 {
        width: 100%;
        display: flex;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add {
        width: 90%;
        top: 100%;
        left: 10vw;
        column-count: 3;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
        margin: 10px 30px 10px 0px;
        font-size: 1.7vw;
    }

    .box-garden .wrap-garden .card-garden {
        width: 90%;
        height: 50vh;
        margin: 30px auto;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid #fff;
    }

    .footer .box-footer .wrap-footer input::placeholder {
        font-size: 2vw;
    }
}


@media (max-width: 400px) {
    .home .box-home .home-img .home-wrap .home-title h1 {
        font-size: 7vw;
    }


    .home .box-home .home-img .home-wrap .home-title p {
        font-size: 4vw;
    }

    .box-garden .wrap-garden .card-garden .card-info h2 {
        font-size: 7vw;
        line-height: 7vw;
    }

    .box-garden .wrap-garden .card-garden .card-info p {
        font-size: 3.6vw;
        line-height: 26px;
    }
}

@media (max-width: 375px) {


    .about .box-about .wrap-about .about-right .wrap-info .about-card a {
        display: inline;
        font-family: 'Open Sans';
        margin: 0px 0px 0px 0px;
    }

    .sponsor .wrap-garden .card-garden .card-border {
        width: 93%;
        height: 93%;
        margin: 10px;
        border: 1px solid #fff;
    }

    .sponsor .link-sponsor h2 {
        text-align: center;
        color: #414141;
        margin: 20px;
        font-family: 'Open Sans';
        font-size: 4vw;
        font-weight: 300;
    }

    .sponsor .link-sponsor a {
        text-align: center;
        color: #414141;
        text-decoration: none;
        font-family: 'Open Sans';
        font-size: 4vw;
    }

    .footer .box-footer .wrap-footer {
        width: 0%;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid #fff;
    }

    .footer .box-footer .wrap-footer input::placeholder {
        font-size: 2.5vw;
    }

}