* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

/* /// */

.btn {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Beausite Slick';
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #8aa675;
}

.btn-more::before {
    content: '';
    width: 15%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.3s linear;
}

.btn-more:hover:before {
    width: 0%;
    transition: all 0.3s linear;
}

.btn-more::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 0px 0px 10px;
    transition: all 0.3s linear;
}

.btn-more:hover:after {
    width: 15%;
    transition: all 0.3s linear;
}

/* Styling navbar menu  */

.box-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 18px 0;
}

.box-menu.scrollMenu {
    background-color: rgba(78, 90, 87, 0.8);
}

.box-menu .wrap-menu {
    width: 1128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu .wrap-menu .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu .wrap-menu .nav-menu .menu {
    display: flex;
}

.box-menu .wrap-menu .nav-menu .menu li {
    list-style: none;
    color: #fff;
    margin: 0px 25px 0px 0px;
}

.box-menu .wrap-menu .nav-menu .menu li a {
    color: #fff;
    font-family: 'Beausite Slick';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 85px;
    text-decoration: none;
    text-transform: uppercase;
}

.box-menu .wrap-menu .nav-menu #box-search {
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-menu .wrap-menu .nav-menu #box-search i {
    cursor: pointer;
}

.box-menu .wrap-menu .nav-menu #box-search .bx-x {
    display: none;
}

.box-menu .wrap-menu .nav-menu #search {
    z-index: 998;
    background-color: #fff;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: #fff;
}

.box-menu .wrap-menu .nav-menu #search input {
    padding: 0px 20px;
    border: none;
    line-height: 35px;
    font-size: 18px;
    outline: none;
}

.box-menu .wrap-menu .nav-menu #box-search.find {
    z-index: 999;
    position: fixed;
    top: 4%;
    right: 2%;
    transform: translate(-2%, -4%);
}

.box-menu .wrap-menu .nav-menu #box-search.find .bx-search {
    display: none;
}

.box-menu .wrap-menu .nav-menu #box-search.find .bx-x {
    display: block;
    font-size: 30px;
    color: #000;
}

.box-menu .wrap-menu .nav-menu #search.find {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-menu .wrap-menu .nav-menu #search.find input {
    width: 100%;
}

.box-menu .wrap-menu .nav-menu #search input::placeholder {
    color: #656565;
    font-size: 18px;
}

.box-menu .wrap-menu .nav-menu #btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8aa675;
    color: #fff;
    text-align: center;
    font-family: 'Beausite Slick';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 30px;
    margin-left: 7vw;
    padding: 12px 14px;
    height: 39px;
    text-transform: uppercase;
    cursor: pointer;
}



/* Styling menu-child */

#menu-child {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#menu-child .line {
    display: flex;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
    margin-block: 5px;
}

#menu-child:hover :is(.line) {
    background-color: #fff;
}

#menu-child,
#menu-child .line {
    transition: all 0.4s ease-in-out;
}

#menu-child.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

#menu-child.active .line:nth-child(2) {
    width: 0;
}

#menu-child.active .line:nth-child(1),
#menu-child.active .line:nth-child(3) {
    transition-delay: 0.4s;
}

#menu-child.active .line:nth-child(1) {
    transform: translateY(9px);
}

#menu-child.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}

/* Styling section home */

.home {
    width: 100%;
    height: 70vh;
    margin: auto;
}

.home .box-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home .box-home .filter-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(17, 17, 17, .4);
}

.home .box-home .home-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .box-home .home-img hr {
    border-color: #8aa675;
}

.home .box-home .home-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.home .box-home .home-img .home-wrap {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    max-width: 1128px;
}

.home .box-home .home-img .home-wrap .home-title {
    width: 40%;
}

.home .box-home .home-img .home-wrap .home-title h1 {
    font-size: 45px;
    font-weight: 300;
    font-family: 'Beausite Slick';
    color: #fff;
    line-height: 60px;
    margin: 0px 0px 15px;
    padding: 0px 0px 15px;
    text-align: left;
}

.home .box-home .home-img .home-wrap .home-title p {
    font-size: 18px;
    color: #fff;
    line-height: 26px;
    margin: 15px 0px;
    text-align: left;
}


/* Styling seaction content */

.box-intro {
    margin: 0 auto;
    padding-top: 80px;
}

.box-intro .intro-content {
    margin: 0 auto;
}

.box-intro .intro-content .intro-size,
.box-intro .box-vid .intro-size {
    max-width: 1128px;
    margin: 0 auto;
}

.box-intro .intro-content .wrap-image {
    position: relative;
    display: flex;
    width: 100%;
    height: 30vh;
}

.box-intro .intro-content .wrap-image .card-image1 {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 50%;
}

.box-intro .intro-content .wrap-image .card-image1 img {
    width: 100%;
    height: auto;
    background-size: cover;
    object-fit: cover;
}

.box-intro .intro-content .wrap-image .card-image2 {
    z-index: 2;
    position: absolute;
    top: 99px;
    right: 0px;
    width: 55%;
}

.box-intro .intro-content .wrap-image .card-image2 img {
    width: 100%;
    height: auto;
    background-size: cover;
    object-fit: cover;
}

.box-intro .intro-content .text-intro {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.box-intro .intro-content .text-intro .intro-title {
    font-family: 'Beausite Slick';
    text-align: left;
    padding: 0px 0px 0px;
    font-size: 40px;
    color: #414141;
    font-weight: 300;
    width: 48%;
    line-height: 50px;
    margin: 30vh 0px 5vh 0px;
}

.box-intro .intro-content .text-intro .intro-title span {
    font-family: 'Beausite Slick';
    font-size: 40px;
    color: #8aa675;
}

.box-intro .intro-content .text-intro .intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-intro .intro-content .text-intro .wrap-text {
    width: 85%;
    /* flex-grow: row wrap; */
}

.box-intro .intro-content .text-intro .wrap-text .card-text {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.box-intro .intro-content .text-intro .wrap-text .card-text p {
    column-count: 2;
    column-width: auto;
    /* flex: 1 0; */
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.box-intro .intro-content .text-intro .btn-more {
    display: flex;
    color: #8aa675;
    width: 50%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 30px 0px;
}

/* Styling section tour */

.tour {
    width: 100%;
    margin: 0 auto;
}

.tour .box-tour {
    width: 100%;
    margin: 0 auto;
    background-color: #EEEEEE;
}

.tour .box-tour .wrap-tour-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour .box-tour .wrap-tour-top .tour-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour .box-tour .wrap-tour-top .tour-text .size-text {
    width: 80%;
}

.tour .box-tour .wrap-tour-top .tour-text h1 {
    font-family: 'Beausite Slick';
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0px 15px;
    padding: 0px 0px 15px;
    color: #414141;
}

.tour .box-tour .wrap-tour-top .tour-text p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #414141;
    margin: 16px 0px;
}

.tour .box-tour .wrap-tour-top .tour-img {
    width: 50%;
    height: 90vh;
}

.tour .box-tour .wrap-tour-top .tour-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* jjjjjjjjj */

.tour .box-tour .wrap-tour-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour .box-tour .wrap-tour-bottom .tour-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour .box-tour .wrap-tour-bottom .tour-text .size-text {
    width: 80%;
}

.tour .box-tour .wrap-tour-bottom .tour-text h1 {
    font-family: 'Beausite Slick';
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0px 15px;
    padding: 0px 0px 15px;
    color: #414141;
}

.tour .box-tour .wrap-tour-bottom .tour-text p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #414141;
    margin: 16px 0px;
}

.tour .box-tour .wrap-tour-bottom .tour-img {
    width: 50%;
}

.tour .box-tour .wrap-tour-bottom .tour-img img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
}


/* Styling section garden */

.box-garden {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 20px 20px 150px 20px;
    background: url(../image/bg-farm.jpg);
    background-size: cover;
    object-fit: cover;
}

.box-garden .filter-gd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 56, 52, 0.7);
    transition: all 0.5s ease-in-out
}

.box-garden .garden-title {
    max-width: 850px;
    margin: 80px auto;
    text-align: center;
    color: #fff;
}

.box-garden .garden-title h1 {
    font-family: 'Beausite Slick';
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin: 0px 0px 20px;
    color: #fff;
}

.box-garden .garden-title p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.box-garden .wrap-garden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
}

.box-garden .wrap-garden .card-garden {
    position: relative;
    width: 25%;
    height: 600px;
    margin: 15px auto;
}

.box-garden .wrap-garden .card-garden:not(:last-child) {
    border-right: 1px solid #fff;
}

.box-garden .wrap-garden .card-garden .card-info {
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info h2 {
    font-family: 'Beausite Slick';
    width: 80%;
    color: #ffffff;
    padding-top: 5vh;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info .text-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info .line-card {
    display: block;
    background: #fff;
    margin: 20px auto;
    width: 1px;
    content: "";
    height: 0;
    transform: scaleY(0);
    transition: all 0.5s linear;
}

.box-garden .wrap-garden .card-garden .card-info:hover .line-card {
    height: 100%;
    transform: scaleY(1);
}

.box-garden .wrap-garden .card-garden:hover .card-info .text-card {
    opacity: 1;
}

.box-garden .wrap-garden .card-garden .card-info p {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    width: 80%;
    color: #fff;
    margin: 0px 0px 2vh 0px;
}

.box-garden .link-sponsor {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.box-garden .link-sponsor h2 {
    text-align: center;
    color: #414141;
    margin: 20px;
    font-family: 'Beausite Slick';
    font-size: 21px;
    font-weight: 300;
}

.box-garden .link-sponsor a {
    text-align: center;
    color: #414141;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 600;
}

.box-garden .link-sponsor p {
    text-align: center;
    color: #000000;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
}

/* Styling section slider-product */

.slider-product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-product .container-slide {
    width: 65%;
    margin: 0px auto;
    padding: 5vh 0px 0px 0px;
}

.slider-product .container-slide .title-product {
    margin: 2vh auto;
    text-align: center;
    width: 50%;
}

.slider-product .container-slide .title-product h1 {
    font-family: 'Beausite Slick';
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin: 0px 0px 3vh;
    color: #414141;
}

.slider-product .container-slide .title-product p {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    color: #414141;
}

.slider-product .container-slide .box-slide-pr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5vh 0px 0px 0px;
    overflow: hidden;
}

.slider-product .container-slide .box-slide-pr .wrap-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.slider-product .container-slide .box-slide-pr .wrap-slide img {
    display: flex;
    width: 80%;
    max-height: 650px;
    background-size: cover;
    object-fit: cover;
}


.slider-product .container-slide .box-slide-pr button {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.slider-product .container-slide .box-slide-pr .slick-prev {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-0%, -50%);
}

.slider-product .container-slide .box-slide-pr .slick-next {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-0%, -50%);
}

.slider-product .container-slide .link-sponsor {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slider-product .container-slide .link-sponsor h2 {
    text-align: center;
    color: #414141;
    margin: 20px;
    font-family: 'Beausite Slick';
    font-size: 21px;
    font-weight: 300;
}

.slider-product .container-slide .link-sponsor a {
    text-align: center;
    color: #414141;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 600;
}

.slider-product .container-slide .link-sponsor p {
    text-align: center;
    color: #000000;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
}


/* Styling footer */

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: #384144;
    padding: 60px 0px 20px 0px;
}

.footer .box-footer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .box-footer .wrap-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 25%;
}

.footer .box-footer .wrap-footer .size-logo {
    width: 40%;
    margin: 30px auto;
}

.footer .box-footer .wrap-footer p {
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    margin-bottom: 30px;
}

.footer .box-footer .wrap-footer input {
    margin: 0 auto;
    width: 100%;
    padding: 15px 10px;
    color: #d4d4d4;
    border: none;
    background: transparent;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}


.footer .box-footer .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8aa675;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 10px 0px 0px;
}

.footer .box-footer .btn-more::before {
    content: '';
    width: 5%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.3s linear;
}

.footer .box-footer .btn-more:hover:before {
    width: 0%;
    transition: all 0.3s linear;
}

.footer .box-footer .btn-more:hover:after {
    width: 5%;
    transition: all 0.3s linear;
}

.footer .box-footer .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
    border-top: 1px solid #eeeeee;
}

.footer .box-footer .contact .logo-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .box-footer .contact .logo-contact i {
    color: #fff;
    font-size: 25px;
    margin: 0px 15px;
}

.footer .box-footer .contact p {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
}

.footer .box-footer .contact a {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}


/* ////////////////////////////////////////////// */

/* Reponsive */

@media (max-width: 1440px) {

    .box-garden .wrap-garden .card-garden .card-info h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .box-garden .wrap-garden .card-garden .card-info p {
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 25px;
        font-weight: 300;
        width: 100%;
        color: #fff;
    }

    .footer .box-footer .wrap-footer {
        width: 40%;
        padding: 15px 5px;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 15px 5px;
    }
}

@media (max-width: 1250px) {

    .home .box-home .home-img .home-wrap {
        margin: 0px 50px;
    }

    .box-intro .intro-content .wrap-image .card-image1 {
        z-index: 1;
        position: absolute;
        top: 0;
        width: 50%;
        left: 5%;
    }

    .box-intro .intro-content .wrap-image .card-image2 {
        z-index: 2;
        position: absolute;
        top: 99px;
        width: 50%;
        right: 5%;
    }

    .box-intro .intro-content .text-intro .intro-title {
        margin-left: 30px;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
        margin: 15px 20px 0px 0px;
        font-size: 14px;
    }

    .slider-product .container-slide .box-slide-pr button {
        color: #fff;
        border: none;
    }

    .slider-product .container-slide {
        width: 85%;
    }

    .slider-product .container-slide .title-product {
        width: 100%;
    }

    .slider-product .container-slide .box-slide-pr .wrap-slide img {
        width: 99%;
    }

}

@media (max-width: 1000px) {

    .box-intro .intro-content {
        margin: 0px 0px 30px 0px;
        display: block;
    }

    .box-intro .intro-content .wrap-image {
        position: relative;
        height: 60vw;
    }

    .box-intro .intro-content .intro-size .card img {
        width: 50vw;
        height: auto;
    }

    .box-intro .intro-content .text-intro {
        margin: 50px 0px 0px 0px;
    }

    .box-intro .intro-content .text-intro .intro-title {
        font-family: 'Beausite Slick';
        font-size: 5vw;
        width: 80%;
        line-height: 40px;
        margin: 30px auto;
    }

    .box-intro .intro-content .text-intro .intro-title span {
        font-size: 5vw;
        font-family: 'Beausite Slick';
        color: #8aa675;
    }

    .box-intro .intro-content .text-intro .wrap-text .card-text p {
        column-count: 1;
        column-width: auto;
        line-height: 25px;
    }

    .tour .box-tour .wrap-tour-top .tour-img {
        width: 50%;
        height: 70vh;
    }

}


@media (max-width: 991px) {

    .box-garden .wrap-garden .card-garden .card-info h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .box-garden .wrap-garden .card-garden .card-info p {
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        width: 100%;
        color: #fff;
    }

    .box-menu .wrap-menu>.size-logo {
        margin: 10px 50px;
    }

    .box-menu .wrap-menu .nav-menu {
        display: none;
    }

    .box-menu .wrap-menu .nav-menu.active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background: #384144;
        transition: all 0.8s ease-in-out;
    }

    .box-menu .wrap-menu .nav-menu.active ul {
        display: block;
        margin: 120px 30px;
        background-color: transparent;
        background: transparent;
    }

    .box-menu .wrap-menu .nav-menu.active li {
        display: block;
        margin: 0 auto;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 0px 10px;
        cursor: pointer;
    }

    .box-menu .wrap-menu .nav-menu.active li a {
        text-transform: none;
        font-size: 14px;
        font-weight: 300;
        line-height: 50px;
    }

    .box-menu .wrap-menu .nav-menu.active #box-search {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 5%;
        width: 18%;
        padding: 20px 40px;
        background-color: #727b77;
    }

    .box-menu .wrap-menu .nav-menu.active #box-search.find {
        z-index: 999;
        position: absolute;
        top: 0%;
        width: 5%;
        display: inline-block;
        margin: 35px 20px 0px 0px;
        height: 5px;
        background-color: transparent;
        padding: 0;
    }

    .box-menu .wrap-menu .nav-menu #box-search.find .bx-x {
        display: inline-block;
    }

    .box-menu .wrap-menu .nav-menu #btn-cta {
        display: none;

    }

    .box-menu .wrap-menu .nav-menu.active #btn-cta {
        display: block;
        position: absolute;
        left: -9%;
        bottom: 5%;
        background-color: #8aa675;
        width: 100%;
        border-radius: 0;
        font-size: 10px;
        line-height: 35px;
        height: 55px;
    }

    #menu-child {
        display: block;
        z-index: 995;
        margin-right: 50px;
    }

    .home .box-home .home-img .home-wrap .home-title {
        width: 100%;
    }

    .footer .box-footer .wrap-footer {
        width: 60%;
        padding: 15px 5px;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 15px 5px;
    }

}

@media (max-width: 800px) {

    .home .box-home .home-img .home-wrap {
        margin: 0px 50px;
    }

    .home .box-home .home-img .home-wrap .home-title {
        width: 60%;
    }

    .home .box-home .home-img .home-wrap .home-title h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .home .box-home .home-img .home-wrap .home-title p {
        font-size: 14px;
        line-height: 26px;
    }

    .footer .box-footer .contact {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .footer .box-footer .contact .logo-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .box-footer .contact p {
        margin: 20px 0px;
    }
}

@media (max-width: 768px) {

    .box-menu .wrap-menu .nav-menu.active #btn-cta {
        width: 90%;
        font-size: 10px;
    }

    .box-menu {
        padding: 0;
    }

    .home .box-home .home-img .home-wrap .home-title {
        width: 100%;
    }

    .box-menu .wrap-menu .size-logo img {
        width: 100%;
        height: 70px;
    }

    .tour .box-tour {
        padding: 0px 0px 10px 0px;
    }

    .tour .box-tour .wrap-tour-bottom {
        display: block;
        margin: 50px 0px;
    }

    .tour .box-tour .wrap-tour-top {
        display: grid;
        margin: 0px 0px;
    }

    .tour .box-tour .wrap-tour-top .tour-text {
        grid-row: 2;
    }

    .tour .box-tour .wrap-tour-top .tour-img {
        grid-row: 1;
    }

    .tour .box-tour .wrap-tour-bottom {
        height: auto;
        width: 100%;
        position: relative;
    }


    .tour .box-tour .wrap-tour-top .tour-text,
    .tour .box-tour .wrap-tour-bottom .tour-text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .tour .box-tour .wrap-tour-top .tour-img,
    .tour .box-tour .wrap-tour-bottom .tour-img {
        height: 55vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .tour .box-tour .wrap-tour-top .tour-img img,
    .tour .box-tour .wrap-tour-bottom .tour-img img {
        width: 100%;
        height: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .tour .box-tour .wrap-tour-top .tour-text .size-text,
    .tour .box-tour .wrap-tour-bottom .tour-text .size-text {
        width: 95%;
    }

    .box-garden {
        padding: 30px 10px 30px 10px;
    }

    .box-garden .garden-title {
        margin: 20px auto;
    }

    .box-garden .wrap-garden {
        display: block;
    }

    .box-garden .wrap-garden .card-garden {
        width: 90%;
        height: 70vh;
        margin: 30px auto;
    }

    .box-garden .wrap-garden .card-garden:not(:last-child) {
        border-bottom: 1px solid #fff;
        border-right: 0px;
    }

    .box-garden .wrap-garden .card-garden img {
        height: 100%;
        display: block;
    }

    .box-garden .wrap-garden .card-garden:hover .card-info::after {
        display: block;
        height: 5vh;
        top: 30%;
    }

    .box-garden .wrap-garden .card-garden:hover .card-info h2 {
        margin: 0px 0px 0vh 0px;
    }

    .box-garden .wrap-garden .card-garden .card-info h2 {
        font-size: 4vw;
        line-height: 3vw;
    }

    .box-garden .wrap-garden .card-garden .card-info .text-card p {
        font-size: 2.5vw;
        line-height: 3vw;
    }

    .box-garden .wrap-garden .card-garden:hover .card-info .text-card {
        opacity: 1;
    }

    .slider-product .container-slide .title-product {
        width: 90%;
    }

    .slider-product .container-slide .title-product h1 {
        font-size: 35px;
        line-height: 35px;
        margin: 0px 0px 3vh;
    }

    .slider-product .container-slide .title-product p {
        font-size: 16px;
        line-height: 20px;
    }


    .slider-product .container-slide .box-slide-pr .slick-prev {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-0%, -50%);
    }

    .slider-product .container-slide .box-slide-pr .slick-next {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-0%, -50%);
    }

}

@media (max-width: 600px) {

    .box-garden .garden-title h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .box-garden .wrap-garden .card-garden {
        position: relative;
        width: 95%;
        height: 400px;
        margin: o;
    }

    .box-garden .garden-title p {
        font-size: 14px;
        line-height: 20px;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid #fff;
    }

    .footer .box-footer .wrap-footer input::placeholder {
        font-size: 2vw;
    }
}

@media (max-width: 375px) {

    .box-garden .link-sponsor h2 {
        text-align: center;
        color: #414141;
        margin: 20px;
        font-family: 'Open Sans';
        font-size: 6vw;
        font-weight: 300;
    }

    .box-garden .link-sponsor a {
        text-align: center;
        color: #414141;
        text-decoration: none;
        font-family: 'Open Sans';
        font-size: 6vw;
    }

    .sponsor .wrap-garden .card-garden .card-border {
        width: 93%;
        height: 93%;
        margin: 10px;
        border: 1px solid #fff;
    }

    .sponsor .link-sponsor h2 {
        text-align: center;
        color: #414141;
        margin: 20px;
        font-family: 'Open Sans';
        font-size: 4vw;
        font-weight: 300;
    }

    .sponsor .link-sponsor a {
        text-align: center;
        color: #414141;
        text-decoration: none;
        font-family: 'Open Sans';
        font-size: 4vw;
    }

    .footer .box-footer .wrap-footer {
        width: 80%;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid #fff;
    }

    .footer .box-footer .wrap-footer input::placeholder {
        font-size: 2.5vw;
    }

}