* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /// */

.btn {
    display: flex;
    font-family: 'Open Sans';
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #8aa675;
}

.btn-more::before {
    content: '';
    width: 15%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.8s linear;
}

.btn-more:hover:before {
    width: 0%;
    transition: all 0.8s linear;
}

.btn-more::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 0px 0px 10px;
    transition: all 0.8s linear;
}

.btn-more:hover:after {
    width: 15%;
    transition: all 0.8s linear;
}

/* Styling navbar menu  */

.box-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 18px 0;
}

.box-menu.scrollMenu {
    background-color: rgba(78, 90, 87, 0.8);
}

.box-menu .wrap-menu {
    width: 1128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu .wrap-menu .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu .wrap-menu .nav-menu .menu {
    display: flex;
}

.box-menu .wrap-menu .nav-menu .menu li {
    list-style: none;
    color: #fff;
    margin: 0px 25px 0px 0px;
}

.box-menu .wrap-menu .nav-menu .menu li a {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 85px;
    text-decoration: none;
    text-transform: uppercase;
}

.box-menu .wrap-menu .nav-menu #box-search {
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-menu .wrap-menu .nav-menu #box-search i {
    cursor: pointer;
}

.box-menu .wrap-menu .nav-menu #search {
    background-color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-menu .wrap-menu .nav-menu #search input {
    padding: 0px 20px;
    border: none;
    line-height: 35px;
    border-width: 1px;
    border-color: #fff;
}

.box-menu .wrap-menu .nav-menu #btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8aa675;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 30px;
    margin-left: 7vw;
    padding: 10px 14px;
    height: 39px;
    text-transform: uppercase;
    cursor: pointer;
}



/* Styling menu-child */

#menu-child {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#menu-child .line {
    display: flex;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
    margin-block: 5px;
}

#menu-child:hover :is(.line) {
    background-color: #fff;
}

#menu-child,
#menu-child .line {
    transition: all 0.4s ease-in-out;
}

#menu-child.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

#menu-child.active .line:nth-child(2) {
    width: 0;
}

#menu-child.active .line:nth-child(1),
#menu-child.active .line:nth-child(3) {
    transition-delay: 0.4s;
}

#menu-child.active .line:nth-child(1) {
    transform: translateY(9px);
}

#menu-child.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}

/* Styling section home */

.home {
    width: 100%;
    height: 70vh;
    margin: auto;
}

.home .box-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home .box-home .filter-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(17, 17, 17, .4);
}

.home .box-home .home-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .box-home .home-img hr {
    border-color: #8aa675;
}

.home .box-home .home-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.home .box-home .home-img .home-wrap {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    max-width: 1128px;
}

.home .box-home .home-img .home-wrap .home-title {
    width: 40%;
}

.home .box-home .home-img .home-wrap .home-title h1 {
    font-size: 45px;
    font-weight: 300;
    font-family: 'Beausite Slick';
    color: #fff;
    line-height: 60px;
    margin: 0px 0px 15px;
    padding: 0px 0px 15px;
    text-align: left;
}

.home .box-home .home-img .home-wrap .home-title p {
    font-size: 16px;
    font-family: 'Open Sans';
    color: #fff;
    line-height: 26px;
    margin: 15px 0px;
    text-align: left;
}




/* Styling seaction content */

.box-intro {
    margin: 0 auto;
    padding-top: 80px;
}

.box-intro .intro-content {
    margin: 0 auto;
}

.box-intro .intro-content .intro-size,
.box-intro .box-vid .intro-size {
    max-width: 1128px;
    margin: 0 auto;
}

.box-intro .intro-content .wrap-image {
    position: relative;
    display: flex;
    width: 100%;
    height: 390px;
}

.box-intro .intro-content .wrap-image .card-image1 {
    z-index: 1;
    position: absolute;
    top: 0;
}

.box-intro .intro-content .wrap-image .card-image2 {
    z-index: 2;
    position: absolute;
    top: 99px;
    right: 0px;
}

.box-intro .intro-content .text-intro {
    display: block;
}

.box-intro .intro-content .text-intro .intro-title {
    padding: 70px 0px 0px;
    font-size: 40px;
    color: #414141;
    font-weight: 300;
    font-family: "Open Sans";
    width: 30%;
    line-height: 50px;
    margin: 0px 0px 5vh;
}

.box-intro .intro-content .text-intro .intro-title span {
    font-size: 40px;
    color: #8aa675;
}

.box-intro .intro-content .text-intro .intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-intro .intro-content .text-intro .wrap-text .card-text {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.box-intro .intro-content .text-intro .wrap-text {
    width: 85%;
    /* flex-grow: row wrap; */
}

.box-intro .intro-content .text-intro .wrap-text .card-text p {
    column-count: 2;
    column-width: auto;
    font-family: 'Open Sans';
    /* flex: 1 0; */
    font-weight: 300;
    line-height: 30px;
}

.box-intro .intro-content .text-intro .btn-more {
    display: flex;
    color: #8aa675;
    font-family: 'Open Sans';
    width: 50%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 30px 0px;
}

/* video */

.box-intro .intro-vid {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

.box-intro .intro-vid .box-vid {
    width: 100%;
    margin: auto;
    height: auto;
}

.box-intro .intro-vid .box-vid .bg {
    width: 100%;
    margin: auto;
    height: 70vh;
    background-color: #eaeaea;
    position: absolute;
    bottom: 0;
}


.box-intro .intro-vid .box-vid .wrap-vid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
}

.box-intro .intro-vid .box-vid .wrap-vid.play {
    display: block;
}

.box-intro .intro-vid .box-vid .wrap-vid iframe {
    background-clip: border-box;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
}

.box-intro .intro-vid .box-vid .img-vid {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.box-intro .intro-vid .box-vid .img-vid.play {
    display: none;
}

.box-intro .intro-vid .box-vid .img-vid .wrap-bg {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    height: 85vh;
}

.box-intro .intro-vid .box-vid .img-vid .bg-vid {
    background-image: url(https://cdn.shopify.com/s/files/1/0114/7600/9017/files/BI_travelworldfam_videocover.jpg?v=1613625869);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    width: 60%;
    height: 100%;
    filter: grayscale(0.5);
}

.box-intro .intro-vid .box-vid .img-vid .url-vid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12vw;
    height: 12vw;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.box-intro .intro-vid .box-vid .img-vid .url-vid:hover {
    border: 1px solid #8aa675;
}

.box-intro .intro-vid .box-vid .img-vid .url-vid.play {
    display: none;
}

.box-intro .intro-vid .box-vid .img-vid .url-vid i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    color: #fff;
    cursor: pointer;
}

.box-intro .intro-vid .box-vid .img-vid .url-vid:hover i {
    color: #8aa675;
}

.box-intro .intro-vid .box-vid .img-vid .title-vid {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: left;
    width: 80%;
}

.box-intro .intro-vid .box-vid .img-vid .title-vid h2 {
    color: #fff;
    text-align: left;
    font-family: 'Beausite Slick';
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
}

.box-intro .intro-vid .box-vid .img-vid .title-vid p {
    color: #fff;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 16px 0;
}


/* Styling section tour */

.tour {
    width: 100%;
    margin: 0 auto;
}

.tour .box-tour {
    width: 100%;
    margin: 0 auto;
    background-color: #727b77;
    position: relative;
}

.tour .box-tour .wrap-tour-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour .box-tour .wrap-tour-top .tour-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.tour .box-tour .wrap-tour-top .tour-text .logo-sponsor {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tour .box-tour .wrap-tour-top .tour-text .logo-sponsor .card-logo {
    width: 15%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 30px;
}

.tour .box-tour .wrap-tour-top .tour-text .logo-sponsor .card-logo img {
    max-width: 100px;
    height: auto;
    display: block;
    background-size: cover;
    object-fit: cover;
}

.tour .box-tour .wrap-tour-top .tour-text .size-text {
    width: 80%;
}

.tour .box-tour .wrap-tour-top .tour-text h1 {
    font-family: 'Beausite Slick';
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0px 15px;
    padding: 0px 0px 15px;
    color: #fff;
}

.tour .box-tour .wrap-tour-top .tour-text p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #fff;
    margin: 16px 0px;
}

.tour .box-tour .wrap-tour-top .tour-img {
    width: 50%;
    height: 90vh;
}

.tour .box-tour .wrap-tour-top .tour-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* jjjjjjjjj */

.tour .box-tour .wrap-tour-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
}

.tour .box-tour .wrap-tour-bottom .tour-text {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tour .box-tour .wrap-tour-bottom .tour-text .size-text {
    position: relative;
}

.tour .box-tour .wrap-tour-bottom .tour-text .tour-add {
    column-count: 2;
    margin: 0 auto;
    width: 80%;
}

.tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
    font-family: 'Open Sans';
    display: inline-block;
    text-align: left;
    margin: 10px 5vw 10px 0px;
    font-size: 16px;
    font-weight: 700;
    color: #414141;
    text-decoration: none;
}

.tour .box-tour .wrap-tour-bottom .tour-text .tour-add a:hover {
    color: #959595;
}

.tour .box-tour .wrap-tour-bottom .tour-text .size-text {
    width: 80%;
}

.tour .box-tour .wrap-tour-bottom .tour-text h1 {
    font-family: 'Beausite Slick';
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0px 15px;
    padding: 0px 0px 15px;
    color: #414141;
}

.tour .box-tour .wrap-tour-bottom .tour-text p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #414141;
    margin: 16px 0px;
}

.tour .box-tour .wrap-tour-bottom .tour-img {
    width: 50%;
}

.tour .box-tour .wrap-tour-bottom .tour-img img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

/* Styling section history */

.history {
    margin: 0 auto;
    width: 100%;
    background-color: #384144;
}

.history .box-history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0px;
}

.history .box-history .title-history {
    text-align: center;
    width: 35%;
    margin: 0 auto;
}

.history .box-history .title-history h1 {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    font-family: 'Beausite Slick';
    margin: 5vh 0px;
}

.history .box-history .title-history p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-family: 'Open Sans';
    margin: 0px 0px 5vh 0px;
}

.slide-time {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.slide-time .time-line {
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 12vh 0px 0px 0px;
}

.slide-time .year {
    position: absolute;
    top: 0;
    width: 100%;
}

.slide-time .time-year {
    position: absolute;
    width: 52%;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-time .time-year span {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
}

.slide-time .time-line .card-time {
    position: relative;
    width: 100%;
    height: 50vh;
}

.slide-time .time-line .card-time .img-time {
    position: absolute;
    top: 0;
    left: 4.5%;
    width: 45%;
    height: 100%;
}

.slide-time .time-line .card-time .img-time img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-time .time-line .card-time .text-time {
    position: absolute;
    top: 0;
    right: 4.5%;
    width: 45%;
    height: 100%;
    padding: 30px;
    background-color: #fff;
}

.slide-time .time-line .card-time .text-time span {
    color: #bbbbbb;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0px;
}

.slide-time .time-line .card-time .text-time h2 {
    color: #414141;
    font-family: 'Beausite Slick';
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0px;
}

.slide-time .time-line .card-time .text-time p {
    color: #414141;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
}

.slide-time .time-line .slick-dots {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
}

.slide-time .time-line .slick-dots::after {
    content: '';
    z-index: -99;
    position: absolute;
    background-color: #fff;
    width: 95%;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.slide-time .time-line .slick-dots li {
    list-style: none;
}

.slide-time .time-line .slick-dots li button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    font-size: 0;
    cursor: pointer;
}

.slide-time .time-line .slick-dots li.slick-active button {
    background-color: #8aa675;
    border: 1px solid #fff;
}


/* Styling section team */

.team {
    width: 100%;
    margin: 0 auto;
}

.team .box-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team .box-team .title-team {
    text-align: center;
    margin: 3vh 0px;
}

.team .box-team .title-team h1 {
    color: #414141;
    font-family: 'Beausite Slick';
    font-size: 40px;
    font-weight: 500;
    margin: 0px 0px 3vh 0px;
}

.team .box-team .title-team p {
    color: #414141;
    font-family: 'Open Sans';
    font-size: 16px;
}

.team .box-team .img-team {
    width: 60%;
    height: 100%;
}

.team .box-team .img-team img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .box-team .img-team .img-name {
    text-align: center;
}

.team .box-team .img-team .img-name span {
    color: #505050;
    font-family: 'Open Sans';
    font-size: 16px;
}

.team .box-team .img-team .img-name p {
    color: #505050;
    font-family: 'Open Sans';
    font-size: 16px;
}

.team .link-sponsor {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.team .link-sponsor h2 {
    text-align: center;
    color: #414141;
    margin: 20px;
    font-family: 'Beausite Slick';
    font-size: 21px;
    font-weight: 300;
}

.team .link-sponsor a {
    text-align: center;
    color: #414141;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 600;
}

.team .link-sponsor p {
    text-align: center;
    color: #000000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
}

/* Styling footer */

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: #384144;
    padding: 60px 0px 20px 0px;
}

.footer .box-footer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .box-footer .wrap-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 25%;
}

.footer .box-footer .wrap-footer .size-logo {
    width: 40%;
    margin: 30px auto;
}

.footer .box-footer .wrap-footer p {
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    margin-bottom: 30px;
}

.footer .box-footer .wrap-footer input {
    margin: 0 auto;
    width: 100%;
    padding: 15px 10px;
    color: #d4d4d4;
    border: none;
    background: transparent;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}


.footer .box-footer .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8aa675;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 10px 0px 0px;
}

.footer .box-footer .btn-more::before {
    content: '';
    width: 5%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.8s linear;
}

.footer .box-footer .btn-more:hover:before {
    width: 0%;
    transition: all 0.8s linear;
}

.footer .box-footer .btn-more:hover:after {
    width: 5%;
    transition: all 0.8s linear;
}

.footer .box-footer .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
    border-top: 1px solid #eeeeee;
}

.footer .box-footer .contact .logo-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .box-footer .contact .logo-contact i {
    color: #fff;
    font-size: 25px;
    margin: 0px 15px;
}

.footer .box-footer .contact p {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
}

.footer .box-footer .contact a {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}



/* ////////////////////////////////////////////// */

/* Reponsive */

@media (max-width: 1440px) {

    .footer .box-footer .wrap-footer {
        width: 40%;
        padding: 15px 5px;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 15px 5px;
    }
}


@media (max-width: 1250px) {

    .box-menu {
        padding: 5px 30px;
    }

    .home .box-home .home-img .home-wrap {
        margin: 0px 50px;
    }

    .box-intro .intro-content .wrap-image .card-image1 {
        z-index: 1;
        position: absolute;
        top: 0;
        width: 50%;
        left: 5%;
    }

    .box-intro .intro-content .wrap-image .card-image2 {
        z-index: 2;
        position: absolute;
        top: 99px;
        width: 50%;
        right: 5%;
    }

    .box-intro .intro-content .text-intro .intro-title {
        margin-left: 30px;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
        margin: 15px 20px 0px 0px;
        font-size: 16px;
    }

    .box-garden .wrap-garden .card-garden .card-border {
        width: 28vw;
        height: 96%;
        margin: 10px;
        border: 1px solid #fff;
    }

    .box-intro .intro-vid .box-vid .img-vid .wrap-bg {
        height: 65vh;
    }

    .box-intro .intro-vid .box-vid .img-vid .bg-vid {
        width: 90%;
    }

    .box-intro .intro-vid .box-vid .wrap-vid {
        margin: 0px 0px 0px 5vw;
    }

    .box-intro .intro-vid .box-vid .wrap-vid iframe {
        width: 90%;
    }

    .slide-time .time-year {
        width: 70%;
    }

    .slide-time .time-line {
        width: 80%;
        padding: 10vh 0px 0px 0px;
    }

    .slide-time .time-line .card-time {
        height: 60vh;
    }

    .slide-time .time-line .card-time .text-time span {
        font-size: 18px;
        margin: 10px 0px;
    }

    .slide-time .time-line .card-time .text-time h2 {
        font-family: 'Beausite Slick';
        font-size: 22px;
        margin: 10px 0px;
    }

    .slide-time .time-line .card-time .text-time p {
        font-size: 16px;
    }


}

@media (max-width: 1000px) {

    .box-intro .intro-vid {
        height: 70vh;
    }

    .box-intro .intro-content {
        margin: 0px 0px 30px 0px;
        display: block;
    }

    .box-intro .intro-content .wrap-image {
        position: relative;
        height: 40vw;
    }

    .box-intro .intro-content .intro-size .card img {
        width: 50vw;
        height: auto;
    }

    .box-intro .intro-content .text-intro {
        margin: 0px 0px 0px 0px;
    }

    .box-intro .intro-content .text-intro .intro-title {
        font-size: 5vw;
        width: 80%;
        line-height: 40px;
        margin: 30px auto;
    }

    .box-intro .intro-content .text-intro .intro-title span {
        font-size: 5vw;
        color: #8aa675;
    }

    .box-intro .intro-content .text-intro .wrap-text .card-text p {
        column-count: 1;
        column-width: auto;
        font-size: 16px;
        line-height: 25px;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
        font-size: 14px;
    }
}

@media (max-width: 991px) {

    .box-menu {
        padding: 0;
    }

    .box-menu .wrap-menu>.size-logo {
        margin: 10px 50px;
    }

    .box-menu .wrap-menu .nav-menu {
        display: none;
    }

    .box-menu .wrap-menu .nav-menu.active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background: #384144;
        transition: all 0.8s ease-in-out;
    }

    .box-menu .wrap-menu .nav-menu.active ul {
        display: block;
        margin: 120px 30px;
        background-color: transparent;
        background: transparent;
    }

    .box-menu .wrap-menu .nav-menu.active li {
        display: block;
        margin: 0 auto;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 0px 10px;
        cursor: pointer;
    }

    .box-menu .wrap-menu .nav-menu.active li a {
        text-transform: none;
        font-size: 14px;
        font-weight: 300;
        line-height: 50px;
    }

    .box-menu .wrap-menu .nav-menu.active #box-search {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 20px 40px;
        background-color: #727b77;
    }

    .box-menu .wrap-menu .nav-menu #btn-cta {
        display: none;

    }

    .box-menu .wrap-menu .nav-menu.active #btn-cta {
        display: block;
        position: absolute;
        left: -9%;
        bottom: 0;
        background-color: #8aa675;
        width: 84%;
        border-radius: 0;
        font-size: 10px;
        line-height: 35px;
        height: 55px;
    }

    #menu-child {
        display: block;
        z-index: 999;
        margin-right: 50px;
    }

    .home .box-home .home-img .home-wrap .home-title {
        width: 100%;
    }

    .history .box-history .title-history {
        width: 50%;
    }

    .slide-time .time-year span {
        font-size: 16px;
    }

    .slide-time .time-line .slick-dots li button {
        width: 15px;
        height: 15px;
    }

    .footer .box-footer .wrap-footer {
        width: 60%;
        padding: 15px 5px;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 15px 5px;
    }

}

@media (max-width: 800px) {

    .home .box-home .home-img .home-wrap {
        margin: 0px 30px;
    }

    .home .box-home .home-img .home-wrap .home-title {
        width: 60%;
    }

    .home .box-home .home-img .home-wrap .home-title h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .home .box-home .home-img .home-wrap .home-title p {
        font-size: 16px;
        line-height: 26px;
    }

    .footer .box-footer .contact {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .footer .box-footer .contact .logo-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .box-footer .contact p {
        margin: 20px 0px;
    }
}

@media (max-width: 768px) {

    .box-menu {
        padding: 0;
    }

    .box-intro {
        padding-top: 50px;
    }

    .home .box-home .home-img .home-wrap {
        margin: 0px 10px;
    }

    .home .box-home .home-img .home-wrap .home-title {
        width: 100%;
    }

    .box-menu .wrap-menu .size-logo img {
        width: 100%;
        height: 70px;
    }

    .tour .box-tour {
        padding: 30px 0px 10px 0px;
    }

    .tour .box-tour .wrap-tour-bottom {
        display: block;
        margin: 0px 0px;
        padding: 30px 0px;
    }

    .tour .box-tour .wrap-tour-top {
        display: grid;
        margin: 0px 0px;
        padding: 30px 0px;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add {
        column-count: 3;
        margin: 0 auto;
        padding-left: 10vw;
        width: 100%;
    }

    .tour .box-tour .wrap-tour-top .tour-text {
        grid-row: 2;
    }

    .tour .box-tour .wrap-tour-top .tour-img {
        grid-row: 1;
        width: 100%;
        height: 50vh;
    }

    .tour .box-tour .wrap-tour-bottom {
        height: 100%;
        width: 100%;
        position: relative;
    }


    .tour .box-tour .wrap-tour-top .tour-text,
    .tour .box-tour .wrap-tour-top .tour-img,
    .tour .box-tour .wrap-tour-bottom .tour-text,
    .tour .box-tour .wrap-tour-bottom .tour-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .tour .box-tour .wrap-tour-top .tour-img,
    .tour .box-tour .wrap-tour-bottom .tour-img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .tour .box-tour .wrap-tour-top .tour-img img,
    .tour .box-tour .wrap-tour-bottom .tour-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .box-intro .intro-vid .box-vid .img-vid .bg-vid {
        width: 100%;
    }

    .box-intro .intro-vid .box-vid .img-vid .wrap-bg {
        height: 50vh;
    }

    .history .box-history .title-history {
        width: 80%;
    }

    .slide-time .time-line {
        width: 100%;
        padding: 12vh 0px 0px 0px;
    }


    .slide-time .time-line .slick-dots {
        width: 95%;
    }

    .slide-time .time-year {
        width: 80%;
    }

    .slide-time .time-line .card-time {
        width: 100%;
        height: 80vh;
        margin: 0 auto;
        padding: 10px;
    }

    .slide-time .time-line .card-time .img-time {
        position: relative;
        width: 100%;
        height: 70%;
        margin: 0 auto;
        left: 0;
        padding: 0;
    }

    .slide-time .time-line .card-time .img-time img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slide-time .time-line .card-time .text-time {
        position: relative;
        right: 0;
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        padding: 15px;
    }

    .slide-time .time-line .card-time .text-time span {
        font-size: 16px;
        margin: 5px 0px;
    }

    .slide-time .time-line .card-time .text-time h2 {
        font-size: 18px;
        margin: 5px 0px;
    }

    .slide-time .time-line .card-time .text-time p {
        font-size: 16px;
    }

    .team .box-team .title-team h1 {
        font-size: 30px;
    }

    .team .box-team .title-team p {
        font-size: 16px
    }

    .team .box-team .img-team {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 600px) {

    .box-intro {
        padding-top: 20px;
    }

    .history .box-history .title-history {
        width: 70%;
    }

    .slide-time .time-year span {
        font-size: 16px;
        display: flex;
    }

    .team {
        padding: 0px 20px;
    }

    .team .box-team .title-team h1 {
        font-size: 28px;
    }

    .team .box-team .title-team p {
        font-size: 16px
    }

    .team .box-team .img-team {
        width: 90%;
        height: 100%;
    }

    .box-sponsor .wrap-sponsor .title-sponsor h1 {
        font-size: 6vw;
        line-height: 50px;
        margin: 0px 0px 20px;
    }

    .box-sponsor .wrap-sponsor .title-sponsor p {
        font-size: 3vw;
        line-height: 26px;
        margin: 10px 0px;
    }

    .tour .box-tour .wrap-tour-top .tour-text .logo-sponsor {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid #fff;
    }

    .footer .box-footer .wrap-footer input::placeholder {
        font-size: 2vw;
    }

}

@media (max-width: 500px) {

    .tour .box-tour .wrap-tour-top .tour-text .logo-sponsor .card-logo {
        width: 10%;
        height: 4vh;
    }

    .tour .box-tour .wrap-tour-top .tour-text .logo-sponsor .card-logo img {
        max-width: 80px;
    }

    .tour .box-tour .wrap-tour-bottom .tour-text .tour-add a {
        font-size: 12px;
    }
}


@media (max-width: 378px) {

    .box-sponsor .link-sponsor h2 {
        margin: 20px;
        font-size: 3vw;
    }

    .box-sponsor .link-sponsor a {
        font-size: 3vw;
    }

    .tour .box-tour .wrap-tour-top .tour-text .logo-sponsor .card-logo img {
        max-width: 70px;
    }

    .footer .box-footer .wrap-footer {
        width: 80%;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid #fff;
    }

    .footer .box-footer .wrap-footer input::placeholder {
        font-size: 2.5vw;
    }
}