* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Beausite Slick';
}

@font-family: 'Open Sans', sans-serif;
@font-family: 'Roboto', sans-serif;

/* /// */

.btn {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Open Sans';
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #8aa675;
}

.btn-more::before {
    content: '';
    width: 15%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.3s linear;
}

.btn-more:hover:before {
    width: 0%;
    transition: all 0.3s linear;
}

.btn-more::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 0px 0px 10px;
    transition: all 0.3s linear;
}

.btn-more:hover:after {
    width: 15%;
    transition: all 0.3s linear;
}

/* Styling navbar menu  */

.box-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 18px 0;
}

.box-menu.scrollMenu {
    background-color: rgba(78, 90, 87, 0.8);
}

.box-menu .wrap-menu {
    width: 1128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu .wrap-menu .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu .wrap-menu .nav-menu .menu {
    display: flex;
}

.box-menu .wrap-menu .nav-menu .menu li {
    list-style: none;
    color: #fff;
    margin: 0px 25px 0px 0px;
}

.box-menu .wrap-menu .nav-menu .menu li a {
    font-family: 'Open Sans';
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 85px;
    text-decoration: none;
    text-transform: uppercase;
}

.box-menu .wrap-menu .nav-menu #box-search {
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-menu .wrap-menu .nav-menu #box-search i {
    cursor: pointer;
}

.box-menu .wrap-menu .nav-menu #box-search .bx-x {
    display: none;
}

.box-menu .wrap-menu .nav-menu #search {
    z-index: 998;
    background-color: #fff;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: #fff;
}

.box-menu .wrap-menu .nav-menu #search input {
    padding: 0px 20px;
    border: none;
    line-height: 35px;
    font-size: 18px;
    outline: none;
}

.box-menu .wrap-menu .nav-menu #box-search.find {
    z-index: 999;
    position: fixed;
    top: 4%;
    right: 2%;
    transform: translate(-2%, -4%);
}

.box-menu .wrap-menu .nav-menu #box-search.find .bx-search {
    display: none;
}

.box-menu .wrap-menu .nav-menu #box-search.find .bx-x {
    display: block;
    font-size: 30px;
    color: #000;
}

.box-menu .wrap-menu .nav-menu #search.find {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-menu .wrap-menu .nav-menu #search.find input {
    width: 100%;
}

.box-menu .wrap-menu .nav-menu #search input::placeholder {
    color: #656565;
    font-size: 18px;
}

.box-menu .wrap-menu .nav-menu #btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8aa675;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 30px;
    margin-left: 7vw;
    padding: 12px 14px;
    height: 39px;
    text-transform: uppercase;
    cursor: pointer;
}



/* Styling menu-child */

#menu-child {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

#menu-child .line {
    display: flex;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
    margin-block: 5px;
}

#menu-child:hover :is(.line) {
    background-color: #fff;
}

#menu-child,
#menu-child .line {
    transition: all 0.4s ease-in-out;
}

#menu-child.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

#menu-child.active .line:nth-child(2) {
    width: 0;
}

#menu-child.active .line:nth-child(1),
#menu-child.active .line:nth-child(3) {
    transition-delay: 0.4s;
}

#menu-child.active .line:nth-child(1) {
    transform: translateY(9px);
}

#menu-child.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}



/* Styling section home */

.box-slider {
    width: 100%;
    height: 100vh;
}

.box-slider .slider .image {
    height: 100vh;
    width: 100%;
}

.box-slider .slider .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-arrow {
    z-index: 1;
    position: absolute;
    bottom: 3%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.slick-prev {
    left: 87%;
    margin: 1vw 0vw;
}

.slick-next {
    right: 7%;
    margin: 1vw -1vw;
}

.slick-dots {
    position: absolute;
    bottom: 9%;
    left: 22%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
}

.slick-dots button {
    font-size: 0;
    margin: 0px 10px;
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
}

.box-slider .slider .filter-bg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 17, 17, .4);
}

.box-slider .card-content {
    max-width: 1128px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.box-slider .card-content .content {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 36.5%;
    margin: 0 auto;
    color: #ffffff;
    margin: 10px 0px 0px;
    padding: 0px 10px;
}

.box-slider .card-content .text-content {
    font-size: 43px;
    line-height: 60px;
    width: 50%;
    margin: 21px 0px 0px;
    padding: 0px 0px 38px;
    flex-direction: column;
    text-align: left;
}

.box-slider .card-content .btn {
    display: flex;
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #fff;
}

.box-slider .card-content .btn-more::before {
    content: '';
    width: 8%;
    height: 2px;
    background-color: #fff;
    margin: 0px 10px 0px 0px;
    transition: all 0.8s linear;
}

.box-slider .card-content .btn-more:hover:before {
    width: 0%;
    transition: all 0.8s linear;
}

.box-slider .card-content .btn-more::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #fff;
    margin: 0px 0px 0px 10px;
    transition: all 0.8s linear;
}

.box-slider .card-content .btn-more:hover:after {
    width: 8%;
    transition: all 0.8s linear;
}


/* Styling seaction content */

.box-intro {
    margin: 0 auto;
    padding: 30px 0;
}

.box-intro .intro-content {
    margin: 0 auto;
    padding: 0px 0px 50px 0px;
}

.box-intro .intro-content .intro-size,
.box-intro .box-vid .intro-size {
    max-width: 1128px;
    margin: 0 auto;
}

.box-intro .intro-content .wrap-image {
    position: relative;
    display: flex;
    width: 100%;
    height: 390px;
}

.box-intro .intro-content .wrap-image .card-image1 {
    z-index: 1;
    position: absolute;
    top: 0;
}

.box-intro .intro-content .wrap-image .card-image2 {
    z-index: 2;
    position: absolute;
    top: 99px;
    right: 0px;
}

.box-intro .intro-content .text-intro {
    display: block;
}

.box-intro .intro-content .text-intro .intro-title {
    padding: 70px 0px 0px;
    font-size: 40px;
    color: #414141;
    font-weight: 300;
    font-family: 'Beausite Slick';
    width: 52%;
    line-height: 50px;
    margin: 0px 0px 0px;
}

.box-intro .intro-content .text-intro .intro-title span {
    font-family: 'Beausite Slick';
    font-size: 40px;
    color: #8aa675;
}

.box-intro .intro-content .text-intro .intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.box-intro .intro-content .text-intro .wrap-text {
    width: 85%;
    /* flex-grow: row wrap; */
}

.box-intro .intro-content .text-intro .wrap-text .card-text {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.box-intro .intro-content .text-intro .wrap-text p {
    font-family: 'Open Sans';
    /* flex: 1 0; */
    font-weight: 300;
    line-height: 30px;
}


/* //// */
.box-intro .intro-content .text-intro .btn {
    display: flex;
    font-family: 'Open Sans';
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #8aa675;
}

.box-intro .intro-content .text-intro .btn-more::before {
    content: '';
    width: 8%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.8s linear;
}

.box-intro .intro-content .text-intro .btn-more:hover:before {
    width: 0%;
    transition: all 0.8s linear;
}

.box-intro .intro-content .text-intro .btn-more::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 0px 0px 10px;
    transition: all 0.8s linear;
}

.box-intro .intro-content .text-intro .btn-more:hover:after {
    width: 8%;
    transition: all 0.8s linear;
}

/* video */

.box-intro .intro-vid {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

.box-intro .intro-vid .box-vid {
    width: 100%;
    margin: auto;
    height: 100%;
}

.box-intro .intro-vid .box-vid .bg {
    width: 100%;
    margin: auto;
    height: 70vh;
    background-color: #A9B1AD;
    position: absolute;
    bottom: 0;
}


.box-intro .intro-vid .box-vid .wrap-vid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
}

.box-intro .intro-vid .box-vid .wrap-vid.play {
    display: block;
}

.box-intro .intro-vid .box-vid .wrap-vid iframe {
    background-clip: border-box;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
}

.box-intro .intro-vid .box-vid .img-vid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-intro .intro-vid .box-vid .img-vid.play {
    display: none;
}

.box-intro .intro-vid .box-vid .img-vid .wrap-bg {
    position: relative;
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    height: 90vh;
}

.box-intro .intro-vid .box-vid .img-vid .bg-vid {
    background-image: url(https://cdn.shopify.com/s/files/1/0114/7600/9017/files/Screen_Shot_2019-03-14_at_11.16.48_PM_x720.png?v=1613625912);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: 100%;
    filter: grayscale(0.7);
}

.box-intro .intro-vid .box-vid .img-vid .url-vid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.box-intro .intro-vid .box-vid .img-vid .url-vid:hover {
    border: 1px solid #8aa675;
}

.box-intro .intro-vid .box-vid .img-vid .url-vid.play {
    display: none;
}

.box-intro .intro-vid .box-vid .img-vid .url-vid i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    color: #fff;
    cursor: pointer;
}

.box-intro .intro-vid .box-vid .img-vid .url-vid:hover i {
    color: #8aa675;
}

.box-intro .intro-vid .box-vid .img-vid .title-vid {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: left;
    width: 80%;
}

.box-intro .intro-vid .box-vid .img-vid .title-vid h2 {
    color: #fff;
    text-align: left;
    font-family: 'Beausite Slick';
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
}

.box-intro .intro-vid .box-vid .img-vid .title-vid p {
    color: #fff;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin: 16px 0;
}

/* Styling section product */

.product {
    display: flex;
    position: relative;
    width: 100%;
}

.product .left {
    position: sticky;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
}

.product .left .img-bg {
    width: 100%;
    height: 100%;
}

.product .left .img-bg img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    z-index: 1;
}

.product .left .img-bg .filter-bg-pd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: linear-gradient(-183deg, rgba(105, 118, 121, .45) 31%, #384144 100%);
}

.product .right {
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
}

.product .right .box-product {
    display: grid;
    /* W(adjusted) = W(individual) - (1rem * 1/2) */
    grid-template-columns: calc(50% - (30px * 1/2)) calc(50% - (30px * 1/2));
    padding: 0px 0vh 0px 20px;
    align-items: flex-start;
}

.product .right .box-product .card-product {
    position: relative;
    padding: 0px 0px;
    margin: 20px 20px;
    transition: all 0.5s ease-in-out;
}


.product .right .box-product .card-product .pic1,
.product .right .box-product .card-product .pic2 {
    width: 100%;
    height: 375px;
    object-fit: cover;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
}

.product .right .box-product .card-product .pic2 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 375px;
    opacity: 0;
}

.product .right .box-product .card-product:hover .pic1 {
    opacity: 0;
    transition: all 0.8s ease-in-out;

}

.product .right .box-product .card-product:hover .pic2 {
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.product .right .box-product .card-product .info-product {
    margin: 20px auto;
    cursor: pointer;
}

.product .right .box-product .card-product .info-product h3 {
    font-size: 21px;
    font-family: 'Beausite Slick';
    font-weight: 300;
    color: #414141;
}

.product .right .box-product .card-product .info-product p {
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 26px;
    color: #414141;
    margin: 16px 0;
    text-align: left;
}

/* /// */

.product .right .box-product .card-product .btn {
    display: flex;
    font-family: 'Beausite Slick';
    width: 40%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #8aa675;
}

.product .right .box-product .card-product .btn-more::before {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.3s linear;
}

.product .right .box-product .card-product .btn-more:hover:before {
    width: 0%;
    transition: all 0.3s linear;
}

.product .right .box-product .card-product .btn-more::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 0px 0px 10px;
    transition: all 0.3s linear;
}

.product .right .box-product .card-product .btn-more:hover:after {
    width: 20%;
    transition: all 0.3s linear;
}

/* Styling section garden */

.box-garden {
    width: 100%;
    margin: auto;
    padding: 80px 20px 80px 20px;
    background-color: #384144;
}

.box-garden .garden-title {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.box-garden .garden-title h1 {
    font-family: 'Beausite Slick';
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin: 0px 0px 5vh;
    color: #fff;
}

.box-garden .garden-title p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    margin: 0px 0px 5vh;
    color: #fff;
}

.box-garden .wrap-garden {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.box-garden .wrap-garden .card-garden {
    position: relative;
    display: block;
    width: 100%;
    height: 80vh;
    margin: 30px 20px;
}

.box-garden .wrap-garden .card-garden .filter-gd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(-183deg, rgba(105, 118, 121, .45) 81%, #384144 100%);
    transition: all 0.5s ease-in-out
}

.box-garden .wrap-garden .card-garden img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-size: cover;
}

.box-garden .wrap-garden .card-garden .card-info {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-border {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border: 1px solid #fff;
    display: none;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info h2 {
    font-family: 'Beausite Slick';
    width: 80%;
    color: #ffffff;
    padding-top: 5vh;
    font-size: 2vw;
    line-height: 3vw;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info .text-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info .line-card {
    display: block;
    background: #fff;
    margin: 20px auto;
    width: 1px;
    content: "";
    height: 0;
    transform: scaleY(0);
    transition: all 0.5s linear;
}

.box-garden .wrap-garden .card-garden .card-info:hover .line-card {
    height: 100%;
    transform: scaleY(1);
}


.box-garden .wrap-garden .card-garden:hover .card-border {
    display: block;
}

.box-garden .wrap-garden .card-garden:hover::after {
    display: block;
    height: 40%;
    top: 25%;
}

.box-garden .wrap-garden .card-garden:hover .filter-gd {
    background: linear-gradient(-183deg, rgba(105, 118, 121, .45) 31%, #384144 100%);
}

.box-garden .wrap-garden .card-garden:hover .card-info .text-card {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.box-garden .wrap-garden .card-garden:hover .card-info h2 {
    transition: all 0.3s ease-in-out;
}

.box-garden .wrap-garden .card-garden .card-info .text-card p {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    width: 80%;
    color: #fff;
    margin: 0px 0px 2vh 0px;
}

/* Styling section sponsor */

.box-sponsor {
    width: 100%;
    margin: 0 auto;
    padding: 60px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-sponsor .wrap-sponsor {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 60px auto;
}

.box-sponsor .wrap-sponsor .title-sponsor {
    max-width: 565px;
    margin: 0 auto;
    text-align: center;
}

.box-sponsor .wrap-sponsor .title-sponsor h1 {
    color: #000;
    font-family: 'Beausite Slick';
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    margin: 0px 0px 28px;
}

.box-sponsor .wrap-sponsor .title-sponsor p {
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin: 16px 0px;
}

.box-sponsor .wrap-sponsor .btn {
    color: #8aa675;
    font-family: 'Open Sans';
    width: 20%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 30px 0px;
}

.box-sponsor .wrap-sponsor .card-sponsor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.box-sponsor .wrap-sponsor .card-sponsor .card-child {
    width: 100%;
    margin: auto;
}

.box-sponsor .wrap-sponsor .card-sponsor .card-child img {
    width: 15vw;
    object-fit: cover;
    background-size: cover;
}

.box-sponsor .link-sponsor {
    text-align: center;
}

.box-sponsor .link-sponsor h2 {
    text-align: center;
    color: #414141;
    margin: 20px;
    font-family: 'Beausite Slick';
    font-size: 21px;
    font-weight: 300;
}

.box-sponsor .link-sponsor a {
    font-family: 'Open Sans';
    text-align: center;
    color: #414141;
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
}

.box-sponsor .link-sponsor p {
    font-family: 'Open Sans';
    text-align: center;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}

/* Styling footer */

.footer {
    width: 100%;
    margin: 0 auto;
    background-color: #384144;
    padding: 60px 0px 20px 0px;
}

.footer .box-footer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .box-footer .wrap-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 25%;
}

.footer .box-footer .wrap-footer .size-logo {
    width: 40%;
    margin: 30px auto;
}

.footer .box-footer .wrap-footer p {
    font-family: 'Open Sans';
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer .box-footer .wrap-footer input {
    margin: 0 auto;
    width: 100%;
    padding: 15px 10px;
    color: #d4d4d4;
    border: none;
    background: transparent;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}


.footer .box-footer .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8aa675;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 10px 0px 0px;
}

.footer .box-footer .btn-more::before {
    content: '';
    width: 5%;
    height: 2px;
    background-color: #8aa675;
    margin: 0px 10px 0px 0px;
    transition: all 0.3s linear;
}

.footer .box-footer .btn-more:hover:before {
    width: 0%;
    transition: all 0.3s linear;
}

.footer .box-footer .btn-more:hover:after {
    width: 5%;
    transition: all 0.3s linear;
}

.footer .box-footer .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
    border-top: 1px solid #eeeeee;
}

.footer .box-footer .contact .logo-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .box-footer .contact .logo-contact i {
    color: #fff;
    font-size: 25px;
    margin: 0px 15px;
}

.footer .box-footer .contact p {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.footer .box-footer .contact a {
    font-family: 'Open Sans';
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}


/* ////////////////////////////////////////////// */

/* Reponsive */

@media (max-width: 1600px) {
    .product .right .box-product .card-product .btn {
        display: flex;
        width: 55%;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        color: #8aa675;
    }
}

@media (max-width: 1440px) {

    .box-garden .wrap-garden .card-garden .card-info .text-card p {
        font-size: 16px;
        line-height: 20px;
        width: 90%;
    }

    .footer .box-footer .wrap-footer {
        width: 40%;
        padding: 15px 5px;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 15px 5px;
    }
}

@media (max-width: 1250px) {

    .box-menu {
        padding: 5px 30px;
    }

    .btn {
        width: 100%;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .box-intro .intro-content .text-intro .intro-title {
        font-size: 4vw;
        width: 100%;
        line-height: 50px;
        margin: 30px 0px 15px;
        text-align: center;
    }

    .box-intro .intro-content .wrap-image .card-image1 {
        left: 0px;
    }

    .box-intro .intro-content .wrap-image .card-image2 {
        right: 0;
    }

    .box-garden .wrap-garden .card-garden {
        width: 40%;
        height: 80vh;
        margin: 30px 10px;
    }

    .box-garden .wrap-garden .card-garden .card-info h2 {
        font-size: 35px;
        line-height: 25px;
    }

    .box-garden .wrap-garden .card-garden .card-info .text-card p {
        font-size: 14px;
        line-height: 20px;
        width: 80%;
    }

    .box-slider .card-content .content {
        margin: 0px 0px 0px 30px;
        padding: 0px 10px;
    }

    .footer .box-footer .wrap-footer {
        width: 50%;
    }
}

@media (max-width: 1000px) {

    .slick-prev {
        left: 87%;
        margin: 1vw -3vw;
    }

    .slick-next {
        right: 7%;
        margin: 1vw -5vw;
    }

    .box-intro .intro-content {
        margin: 0 0px 30px 0px;
        padding: 0;
        display: block;
    }

    .box-intro .intro-content .wrap-image {
        width: 100%;
        height: 50vw;
    }

    .box-intro .intro-content .text-intro .intro-title {
        font-size: 5vw;
        margin: 00px 0px 15px;
        padding: 0;
    }

    .box-intro .intro-content .text-intro .intro-title span {
        font-size: 5vw;
    }

    .box-intro .intro-content .intro-size .card img {
        width: 50vw;
        height: auto;
    }

    .box-intro .intro-vid .box-vid .wrap-vid iframe {
        background-clip: border-box;
        width: 100%;
        height: 70vh;
        margin: 0 auto;
    }

    .box-intro .intro-vid .box-vid .img-vid .wrap-bg {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        height: 80vh;
    }

    .box-intro .intro-vid .box-vid .img-vid .url-vid {
        width: 13vw;
        height: 13vw;
    }

    .box-intro .intro-vid .box-vid .img-vid .url-vid i {
        font-size: 10vw;
    }

    .product .right .box-product {
        padding: 0;
    }


    .product .right {
        display: block;
        flex-wrap: wrap;
        align-self: start;
    }

    .product .right .box-product {
        display: block;
        align-items: flex-start;
    }
}

@media (max-width: 991px) {

    .box-menu {
        padding: 0;
    }

    .box-menu .wrap-menu>.size-logo {
        margin: 10px 50px;
    }

    .box-menu .wrap-menu .size-logo img {
        width: 100%;
        height: 70px;
    }

    .box-menu .wrap-menu .nav-menu {
        display: none;
    }

    .box-menu .wrap-menu .nav-menu.active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background: #384144;
        transition: all 0.8s ease-in-out;
    }

    .box-menu .wrap-menu .nav-menu.active ul {
        display: block;
        margin: 120px 30px;
        background-color: transparent;
        background: transparent;
    }

    .box-menu .wrap-menu .nav-menu.active li {
        display: block;
        margin: 0 auto;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 0px 10px;
        cursor: pointer;
    }

    .box-menu .wrap-menu .nav-menu.active li a {
        text-transform: none;
        font-size: 14px;
        font-weight: 300;
        line-height: 50px;
    }

    .box-menu .wrap-menu .nav-menu.active #box-search {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 5%;
        width: 18%;
        padding: 20px 40px;
        background-color: #727b77;
    }

    .box-menu .wrap-menu .nav-menu.active #box-search.find {
        z-index: 999;
        position: absolute;
        top: 0%;
        width: 5%;
        display: inline-block;
        margin: 35px 20px 0px 0px;
        height: 5px;
        background-color: transparent;
        padding: 0;
    }

    .box-menu .wrap-menu .nav-menu #box-search.find .bx-x {
        display: inline-block;
    }

    .box-menu .wrap-menu .nav-menu #btn-cta {
        display: none;

    }

    .box-menu .wrap-menu .nav-menu.active #btn-cta {
        display: block;
        position: absolute;
        left: -9%;
        bottom: 5%;
        background-color: #8aa675;
        width: 100%;
        border-radius: 0;
        font-size: 10px;
        line-height: 35px;
        height: 55px;
    }

    #menu-child {
        display: block;
        z-index: 995;
        margin-right: 50px;
    }

    .box-slider .card-content .text-content {
        font-size: 35px;
        line-height: 50px;
        width: 50%;
        margin: 21px 0px 0px;
        padding: 0px 0px 38px;
    }

    .box-slider .card-content .btn {
        width: 80%;
        font-size: 12px;
    }

}

@media (max-width: 800px) {

    .box-intro .intro-content .text-intro .btn {
        font-size: 12px;
    }

    .box-garden .wrap-garden .card-garden .card-info .btn {
        font-size: 12px;
    }

    .footer .box-footer .contact {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .footer .box-footer .contact .logo-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .box-footer .contact p {
        margin: 20px 0px;
    }
}

@media (max-width: 768px) {

    .box-menu .wrap-menu .nav-menu.active #btn-cta {
        width: 90%;
        font-size: 10px;
    }

    .box-slider .card-content .text-content {
        font-size: 35px;
        line-height: 50px;
        width: 90%;
        margin: 21px 0px 0px;
        padding: 0px 0px 38px;
    }

    .box-slider .card-content .btn {
        width: 100%;
        font-size: 12px;
    }

    .box-intro .intro-content {
        margin: 0 0px 0px 0px;
    }

    .box-intro .intro-vid {
        display: flex;
        width: 100%;
        height: 70vh;
        position: relative;
    }

    .box-intro .intro-vid .box-vid .bg {
        height: 60vh;
    }

    .box-intro .intro-vid .box-vid .img-vid .bg-vid {
        width: 95%;
        height: 70%;
    }

    .box-intro .intro-vid .box-vid .img-vid .title-vid h2 {
        font-size: 4vw;
        font-weight: 300;
        line-height: 8vw;
    }

    .box-intro .intro-vid .box-vid .img-vid .title-vid p {
        font-size: 2vw;
        font-weight: 300;
        line-height: 3vw;
    }

    .product {
        display: block;
    }

    .product .left {
        position: relative;
        width: 100%;
        height: auto;
    }

    .product .right .box-product {
        display: inline-block;
        /* W(adjusted) = W(individual) - (1rem * 1/2) */
        column-count: 2;
        padding: 30px;
    }

    .product .right {
        width: 100%;
    }

    .product .right .box-product .card-product {
        padding: 0;
        margin: 10px 0px 30px;
        display: inline-block;
    }

    .btn {
        width: 50%;
        font-size: 12px;
    }

    .box-garden .wrap-garden {
        display: block;
    }

    .box-garden .wrap-garden .card-garden {
        width: 90%;
        height: 50vh;
        padding: 0px 0px;
    }

    .box-garden .wrap-garden .card-garden .card-info h2 {

        font-size: 30px;
        line-height: 20px;
    }

    .box-garden .wrap-garden .card-garden .card-info .text-card p {
        font-size: 16px;
        line-height: 20px;
        width: 90%;
    }

    .footer .box-footer .contact {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .footer .box-footer .contact .logo-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 680px) {
    .box-intro .intro-content .wrap-image {
        height: 55vw;
    }
}

@media (max-width: 600px) {

    .slick-prev {
        left: 87%;
        margin: 1vw -8vw;
    }

    .slick-next {
        right: 7%;
        margin: 1vw -5vw;
    }

    .box-slider .card-content .content {
        margin: 0px 0px 0px 10px;
        padding: 0px 0px;
    }

    .box-slider .card-content .text-content {
        font-size: 30px;
        line-height: 40px;
        width: 90%;
        margin: 21px 0px 0px;
        padding: 0px 0px 10px;
    }

    .box-intro .intro-content .text-intro .intro-title {
        font-size: 5vw;
        line-height: 30px;
    }

    .box-intro .intro-content .wrap-image .card-image1 {
        left: 20px;
    }

    .box-intro .intro-content .wrap-image .card-image2 {
        top: 90px;
        right: 20px;
    }

    .box-garden .wrap-garden .card-garden {
        width: 90%;
        height: 50vh;
        margin: 30px auto;
    }

    .box-garden .wrap-garden .card-garden .card-info h2 {
        font-size: 25px;
        line-height: 20px;
    }

    .box-garden .wrap-garden .card-garden .card-info .text-card p {
        font-size: 12px;
        line-height: 20px;
        width: 90%;
    }

    .product .right .box-product {
        display: inline-block;
        /* W(adjusted) = W(individual) - (1rem * 1/2) */
        column-count: 1;
        padding: 30px;
    }

    .product .right .box-product .card-product .btn {
        width: 40%;
    }

    .box-sponsor .wrap-sponsor .title-sponsor h1 {
        font-size: 6vw;
        line-height: 50px;
        margin: 0px 0px 20px;
    }

    .box-sponsor .wrap-sponsor .title-sponsor p {
        font-size: 3vw;
        line-height: 26px;
        margin: 10px 0px;
    }

    .footer .box-footer .wrap-footer {
        width: 50%;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 10px 5px;
    }

    .footer .box-footer .wrap-footer input::placeholder {
        font-size: 2vw;
    }

    .footer .box-footer .btn {
        font-size: 10px;
        width: 100%;
    }

}

@media (max-width: 500px) {
    .box-intro .intro-content .wrap-image {
        height: 60vw;
    }

    .product .right .box-product .card-product .btn {
        width: 50%;
    }
}


@media (max-width: 378px) {

    .box-intro .intro-content .text-intro .btn {
        font-size: 10px;
    }

    .slick-prev {
        left: 87%;
        margin: 1vw 0vw;
    }

    .slick-next {
        right: 7%;
        margin: 1vw -5vw;
    }

    .box-intro .intro-content .wrap-image .card-image1 {
        left: 10px;
    }

    .box-intro .intro-content .wrap-image .card-image2 {
        top: 50px;
        right: 10px;
    }

    .box-sponsor .link-sponsor h2 {
        text-align: center;
        color: #414141;
        margin: 20px;
        font-family: 'Beausite Slick';
        font-size: 6vw;
        font-weight: 300;
    }

    .box-sponsor .link-sponsor a {
        text-align: center;
        color: #414141;
        text-decoration: none;
        font-size: 6vw;
    }

    .footer .box-footer .wrap-footer {
        width: 100%;
    }

    .footer .box-footer .wrap-footer input {
        width: 100%;
        padding: 10px 5px;
        border: 1px solid #fff;
    }

    .footer .box-footer .wrap-footer input::placeholder {
        font-size: 2.5vw;
    }

}